@import '~antd/dist/antd.dark.css';

.layout {
  height: calc(100vh - 24px);
}

.site-layout-content {
  height: 100%;
  padding: 24px;
  background: #1f1f1f;
}

.site-layout-background {
  background: #1f1f1f;
}
